CREATE USER immich WITH ENCRYPTED PASSWORD '{{ lookup("env", "IMMICH_POSTGRES_PASSWORD") }}';
CREATE DATABASE immich;

\c immich

GRANT ALL ON SCHEMA public TO immich;
ALTER SCHEMA public OWNER TO immich;

CREATE EXTENSION IF NOT EXISTS vchord CASCADE;
CREATE EXTENSION IF NOT EXISTS earthdistance CASCADE;
