DUCKDNS_TOKEN=your-token-here
POSTGRES_ADMIN_PASSWORD=your-secret-pgsql-password
AUTHELIA_POSTGRES_PASSWORD=your-secret-authelia-pgsql-password
VAULTWARDEN_POSTGRES_PASSWORD=your-secret-vaultworden-pgsql-password

AUTHELIA_ADMIN_PASSWORD_HASH='your-hashed-with-argon2-password-here'
AUTHELIA_JWT_SECRET=your-jwt-secret-here
AUTHELIA_SESSION_SECRET=your-session-secret-here
AUTHELIA_STORAGE_KEY=your-storage-secret-here
VAULTWARDEN_ADMIN_TOKEN=your-vaultworden-secret-here

# NOTE: a common way to evaluate these values (though it is not mandatory) is the following
#
# AUTHELIA_ADMIN_PASSWORD_HASH=$(docker run --rm authelia/authelia:4 authelia crypto hash generate argon2 --password 'your-sso-account-password')
# VAULTWARDEN_ADMIN_TOKEN=$(docker run --rm -it vaultwarden/server:1.37 /vaultwarden hash --password 'YourSecretAdminPassword')
# for anything else=$(openssl rand -hex 32)
