DUCKDNS_TOKEN=your-token-here

AUTHELIA_ADMIN_PASSWORD_HASH='your-hashed-with-argon2-password-here'
AUTHELIA_JWT_SECRET=your-jwt-secret-here
AUTHELIA_SESSION_SECRET=your-session-secret-here
AUTHELIA_STORAGE_KEY=your-storage-secret-here

# NOTE: a common way to evaluate these values (though it is not mandatory) is the following
#
# AUTHELIA_ADMIN_PASSWORD_HASH=$(docker run --rm authelia/authelia:4 authelia crypto hash generate argon2 --password 'your-sso-account-password')
# for anything else=$(openssl rand -hex 32)
