- Infrastructure:
  - Traefik:
      icon: traefik
      href: https://traefik.rioly-homelab.duckdns.org
      description: Reverse Proxy
      container: traefik
      server: my-docker
      widget:
        type: traefik
        url: http://traefik:8080

  - Authelia:
      icon: authelia
      href: https://auth.rioly-homelab.duckdns.org
      description: Identity & Single Sign On
      container: authelia
      server: my-docker

  - Vaultwarden:
      icon: vaultwarden
      href: https://vault.rioly-homelab.duckdns.org
      description: Password Manager
      container: vaultwarden
      server: my-docker

- Media & Storage:
  - Immich:
      icon: immich
      href: https://immich.rioly-homelab.duckdns.org
      description: Photo & Video Management
      container: immich
      server: my-docker
      widget:
        type: immich
        url: http://immich:2283
        key: '{{ lookup("env", "IMMICH_API_KEY") }}'
        version: 2

- Monitoring:
  - Homepage:
      icon: homepage
      href: https://rioly-homelab.duckdns.org
      description: Homelab Dashboard
      container: homepage
      server: my-docker
